<button id="tab-1" class="btn btn-sm " style="padding-right: 1rem;" (click)="onLogout()" >Log Out</button>
<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      Tickets
      </div>
     
    <div class="card-body">
      <div class="form-group row">
        <div class="col-md-2">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">From</span>
            </div>
            <input type="text" id="input1-group1" name="input1-group1" class="form-control"
              placeholder="From...."(keyup.enter)="cerca()" [(ngModel)]="filter_inbound" />
          </div>
        </div>
        <div class="col-md-2">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">To</span>
            </div>
            <input type="" id="input1-group2" name="input1-group2" class="form-control"
              placeholder="Destination" (keyup.enter)="cerca()" [(ngModel)]="filter_outbound" />
          </div>
        </div>
        <div class="col-md-2">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">From date</span>
            </div>
            <input type="date" id="from_date" name="input1-group2" class="form-control" placeholder="From date..."
              [(ngModel)]="filter_from_date" />
          </div>
        </div>
        <div class="col-md-2">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">To date</span>
            </div>
            <input type="date" id="data" name="input1-group2" class="form-control" disabled placeholder="To date..."
              [(ngModel)]="filter_to_date" />
          </div>
        </div>
        <div class="col-md-1">
          <div >
            <button type="submit" class="btn btn-success" (click)="cercaClick();" >
              <i class="fa fa-dot-circle-o"></i> Search
            </button>
          </div>
          </div>
          <div class="col-md-1">
          <div >
            <button type="button" class="btn btn-danger" (click)="reset()">
              <i class="fa fa-ban"></i> Reset
            </button>
          </div>
        </div>
      </div>
  </div>

  <div class="card-body">
      <button  type="button" class="btn btn-primary" *ngIf="checkrole" [routerLink]="['/ticketform', '-1']">
        <i class="fa fa-plus"></i> Add new ticket
      </button>
      <br>
      <p-table [value]="data" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[5,10,15,20]"
      [totalRecords]="totalRecords">
        
          <ng-template pTemplate="header">
        
            <tr>
              <th >From</th>
              <th >
                To
              </th>
              <th >
                Ticket Type
              </th>
              <th >
                Price
               </th>
              <th>From Date
              </th>
              <th >To Date
              </th>
              <th>Seat Number
              </th><th ></th>
            </tr>
        
          </ng-template>
        
          <ng-template pTemplate="body" let-item>
        
              <tr>
        
                <td>{{ item.inbound }}</td>
                <td>{{ item.outbound }}</td>
                <td>{{ item.ticket_type_description }}</td>
                <td>{{ item.price }}</td>
                <td>{{ formatDate(item.from_date )}}</td>
                <td>{{ formatDate(item.from_date )}}</td>
                <td>{{ item.seat_number }}</td>
               <td>
                  <button class="btn btn-sm btn-success" *ngIf="checkrole"
                  [routerLink]="['/ticketform', item.id]"><i class="fa fa-ellipsis-v"></i>
                  Edit
                  </button>
               </td>
               <td>
                  <button *ngIf="checkrole" type="button" class="btn btn-sm btn-danger" (click)="delete(item.id)"><i class="fa fa-ellipsis-v"></i>
                   Delete
                  </button>
                </td>        
        
              </tr>
        
          </ng-template>
        
        </p-table>
    

    </div>
  </div>
</div>
<!-- <toaster-container [toasterconfig]="toasterconfig"></toaster-container> -->

<router-outlet></router-outlet>