<p></p>
<div class="row">
    <div class="col-md-6 mx-auto p-0">
        <div class="card">
            <div class="login-box">
                <div class="login-snip"> <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab" routerLink="/home">Login</label> <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>
                    <div class="login-space">
                        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                        <div class="login">
                            <div class="group"> <label for="user" class="label">Username</label> <input id="user" type="text" class="input" placeholder="Enter your username" formControlName="username"> </div>
                            <div *ngIf="f['username'].errors" class="invalid-feedback">
                                <div *ngIf="f['username'].errors.required">
                               Please enter your username
                                </div>
                              </div>
                            <div class="group"> <label for="pass" class="label">Password</label> <input id="pass" type="password" class="input" data-type="password" placeholder="Enter your password" formControlName="password"> </div>
                            <div class="group"> <input id="check" type="checkbox" class="check" checked>
                                <div *ngIf="f['password'].errors" class="invalid-feedback">
                                    <div *ngIf="f['password'].errors.required">
                                  Insert your password
                                    </div>
                                  </div> 
                                <label for="check"><span class="icon"></span> Keep me Signed in</label> </div>
                           
                            <div class="group"> <input type="submit" class="button" value="Sign In" [disabled]="!loginForm.valid"> </div>
                            <div class="hr"></div>
                            <!-- <div class="foot"> <a href="#">Forgot Password?</a> </div> -->
                        </div>
                    </form>
                        <form [formGroup]="registerForm" (ngSubmit)="onSubmitRegister()">
                        <div class="sign-up-form">
                            <div class="group"> <label for="user" class="label">Username</label> <input id="user" type="text" class="input" placeholder="Create your Username" formControlName="username"> </div>
                            <div class="group"> <label for="fullname" class="label">Full Name</label> <input id="fullname" type="text" class="input"  placeholder="Enter your fullname" formControlName="fullname"> </div>
                            <div class="group"> <label for="pass" class="label">Email Address</label> <input id="email" type="text" class="input" placeholder="Enter your email address" formControlName="email"> </div>
                            <div class="group"> <label for="pass" class="label"> Password</label> <input id="pass" type="password" class="input" data-type="password" placeholder="Enter your password" formControlName="password"> </div>
                            <div class="group"> <input type="submit" class="button" value="Sign Up"> </div>
                            <div class="hr"></div>
                            <div class="foot"> <label for="tab-1">Already Member?</label> </div>
                        </div>
                    </form>
                  
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  <router-outlet></router-outlet>


  