<p></p>
<p></p>
    <div class="animated fadeIn">
        <div class="row">
          <div class="col-sm-3">
          </div>
          <div class="col-sm-6">
          <form [formGroup]="TicketForm" >
              <div class="card">
                <div class="card-header">
                  <small>Update /Insert</small>
                </div>
                <div class="card-body">
                  <div class="form-group" hidden>
                    <input type="text" class="form-control" id="id" hidden formControlName="id" >
                  </div>
                  <div class="form-group">
                    <label for="inbound">Inbound</label>
                    <input type="text" class="form-control" id="inbound"  placeholder="Enter Inbound"
                      formControlName="inbound">
                    <div *ngIf="f['inbound'].invalid" class="invalid-feedback">
                      <div *ngIf="f['inbound'].invalid">
                       Field is required
                      </div>
                    </div>
                  </div>
      
                  <div class="form-group">
                    <label for="vat">Outbound</label>
                    <input type="text" class="form-control" id="outbound"  placeholder="Enter Outbound"
                      formControlName="outbound" >
                    <div *ngIf="f['outbound'].invalid" class="invalid-feedback">
                      <div *ngIf="f['outbound'].invalid">
                        Field is required
                      </div>
                    </div>
                  </div>
                  
                  <div class="form-group">
                    <label class="col-form-label" for="from_date">From Date</label>
                    <input class="form-control" id="from_date" type="date" formControlName="from_date"
                      placeholder="From Date..." autocomplete="family-name"  /> 
                    <div *ngIf="f['from_date'].errors" class="invalid-feedback">
                      <div *ngIf="f['from_date'].errors.required">
                     Date is Required
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-form-label" for="from_date">To Date</label>
                    <input class="form-control" id="to_date" type="date" formControlName="to_date"
                      placeholder="To Date..." autocomplete="family-name" />
                    <div *ngIf="f['to_date'].errors" class="invalid-feedback">
                      <div *ngIf="f['to_date'].errors.required">
                     Date is Required
                      </div>
                    </div>
                  </div>

                  <div class="form-group" *ngIf="listaTicketType">
                    <label for="street">Ticket Type</label>
                    <select class="form-control" id="ticket_type"  formControlName="ticket_type" (ngModelChange)="onChangeTicketType($event)"
                      autocomplete="given-name"  autofocus>
                      <option ></option>
                      <option type="number" *ngFor="let itm of listaTicketType" [ngValue]="itm.id">{{ itm.ticket_type_description }}</option>
                    </select>
                    <div *ngIf="f['ticket_type'].invalid">
                      Il campo è obbligatorio
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="vat">Price</label>
                    <input type="number"   class="form-control" id="price" placeholder="Enter price"
                      formControlName="price">
                    <div *ngIf="f['price'].invalid" class="invalid-feedback">
                      <div *ngIf="f['price'].invalid">
                        Field is required
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="vat">Seat Number</label>
                    <input type="number" class="form-control" id="seat_number" placeholder="Enter seat_number"
                      formControlName="seat_number">
                    <div *ngIf="f['seat_number'].invalid" class="invalid-feedback">
                      <div *ngIf="f['seat_number'].invalid">
                        Field is required
                      </div>
                    </div>
                  </div>
                

                  
                </div>
                <div class="card-footer">
                  <button class="btn btn-sm btn-success" (click)="onSubmit()" ><i class="fa fa-dot-circle-o"></i>
                    Salva</button>
                 
                  <button class="btn btn-sm btn-info" (click)="reset()"><i class="fa fa-ban"></i> Cancella</button>
                </div>
              </div>
            </form>
          </div>
      
        </div>
        
      
      </div>
   